@charset "utf-8";

html { 
  background: url(../images/TebPWZ6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: #ff8b3d;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;

}